extends ../layouts/public

block content
  - var basics = 'display: block;margin: 10px;font-family: courier;font-size: 14px;line-height: 21px;'
  - var inputWidth = 'width: 600px;'
  - var textareaHeight = 'height: 168px;'
  - var float = 'float:left;'
  
  span(style=basics) from:
  input(type='text' name='from' placeholder='Yahia Refaiea <hello@yahiarefaiea.com>' style=basics + inputWidth)
  span(style=basics) subject:
  input(type='text' name='subject' placeholder='Yahia Refaiea - Thanks for your love' style=basics + inputWidth)
  span(style=basics) to:
  textarea(name='to' placeholder='{JSON}' style=basics + inputWidth + textareaHeight)
  span(style=basics) message:
  textarea(name='message' placeholder='<HTML>' style=basics + inputWidth + textareaHeight)
  input(type='button' name='submit' value='submit campaign' style=basics + float)
  #callback(style=basics + float)
