extends ../layouts/public

block content
  - var basics = 'display: block;margin: 10px;font-family: courier;font-size: 14px;line-height: 21px;'
  - var inputWidth = 'width: 600px;'
  - var textareaHeight = 'height: 168px;'
  - var float = 'float:left;'
  
  //- FROM
  span(style=basics) from:
  input(type='text' name='from' placeholder='Full Name <hello@fullname.com>' style=basics + inputWidth
        value='Yahia Refaiea <hello@yahiarefaiea.com>')
  
  //- SUBJECT
  span(style=basics) subject:
  input(type='text' name='subject' placeholder='Thanks for your love' style=basics + inputWidth
        value='Thanks for your love')
  
  //- TO
  span(style=basics) to:
  textarea(name='to' placeholder='{JSON}' style=basics + inputWidth + textareaHeight) [{"name":"Yahia","email":"yahia@comp.com"},{}]
  
  //- MESSAGE
  span(style=basics) message:
  textarea(name='message' placeholder='<HTML>' style=basics + inputWidth + textareaHeight) <span style="display: block; margin-bottom: 7px;">Thanks for your love.</span><span style="display: block; margin-top: 21px; font-size: 14px; line-height: 21px; color: #666;">Best wishes.</span>
  
  //- SUBMIT
  input(type='button' name='submit' value='submit campaign' style=basics + float)
  #callback(style=basics + float)
