doctype html
html(lang=main.lang dir=main.dir)
  
  //- HEAD
  head
    
    //- TITLE AND META TAGS
    block title
      title= main.title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block meta
      meta(name="description" content=main.description)
      meta(name="author" content=main.author)
    
    //- INCLUDES
    link(rel="icon" type="image/png" href="includes/images/favicon.png")
    link(rel="stylesheet" href="includes/stylesheets/nuo.lite.css")
    script(src="includes/javascripts/nuo.lite.js")
  
  //- BODY
  body
    
    //- CONTENT
    block content
